<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for(:title) || "Social Portal" %></title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<link rel="icon" href="/theme/images/favicon.png" type="image/x-icon">
<link rel="shortcut icon" href="/theme/images/favicon.png" type="image/x-icon">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/theme/css/fontawesome.css">
<link rel="stylesheet" type="text/css" href="/theme/css/icofont.css">
<link rel="stylesheet" type="text/css" href="/theme/css/themify.css">
<link rel="stylesheet" type="text/css" href="/theme/css/feather-icon.css">
<link rel="stylesheet" type="text/css" href="/theme/css/flag-icon.css">
<link rel="stylesheet" type="text/css" href="/theme/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/theme/css/style.css">
<link id="color" rel="stylesheet" href="/theme/css/color-1.css" media="screen">
<link rel="stylesheet" type="text/css" href="/theme/css/responsive.css">
<%= yield :head %>
